<div style="text-align: center;"> 
    <span style="font-size: 40px; font-weight: bold">
        CSC17104 – PROGRAMING FOR DATA SCIENCE
    </span>
</div>

<div style="text-align: center;"> 
    <span style="font-size: 32px; font-weight: bold">
        FINAL PROJECT
    </span>
</div>

<div style="text-align: center;"> 
    <span style="font-size: 24px; font-weight: bold">
        <i>
            Data Exploration
        </i>
    </span>
</div>

<div style="text-align: right;">
    <span style="font-size: 14px">
        <i>
            Nov 22, 2025
        </i>
    </span>
</div>

| Name | ID |
| --- | --- |
| Lê Võ Nhật Minh | 22120210 |
| Nguyễn Hữu Nghĩa | 22120227 |
| Nguyễn Lê Tấn Phát | 22120262 |

---

<h1 align="center">
    <span style="font-size: 40px; font-weight: bold">
        Mục lục
    </span style>
</h1>

[**Preparation**](#o)

I. [**Overview**](#i)

1. [**Basic Information**](#i_1)

2. [**Data Integrity**](#i_2)

3. [**Column Inventory**](#i_3)

4. [**Data Types**](#i_4)

II. [**Numerical Columns Analysis**](#ii)

III. [**Categorical Columns Analysis**](#iii)

IV. [**Relationships & Correlations**](#iv)

V. [**Initial Observation & Insights**](#v)

---

<h1 id="o" style="font-weight: bold">Preparation</h1>

Import library

In [20]:
import pandas as pd
import os

Read data

In [21]:
FILE_PATH = r'..\..\data\raw\ObesityDataSet.csv'

try:
    df = pd.read_csv(FILE_PATH)
except FileNotFoundError:
    print("Error: No file found!")
    exit()

<h1 id="i" style="font-weight: bold">I. Overview</h1>

<h2 id="i_1" style="font-weight: bold">1. Basic Information</h2>

In [22]:
num_rows, num_cols = df.shape
print(f"• Số lượng dòng (Rows): {num_rows}")
print(f"• Số lượng cột (Columns): {num_cols}")

• Số lượng dòng (Rows): 2111
• Số lượng cột (Columns): 17

In [23]:
file_size_bytes = os.path.getsize(FILE_PATH)
file_size_mb = file_size_bytes / (1024 * 1024)
print(f"• Kích thước file: {file_size_mb:.2f} MB")

• Kích thước file: 0.25 MB

In [24]:
df.head(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

Each row corresponds to a single anonymous individual from Mexico, Peru, or Colombia, and contains their personal attributes - such as age, gender, height, weight - combined with lifestyle habits and physical condition indicators, along with the estimated obesity level assigned to that person.

<h2 id="i_2" style="font-weight: bold">2. Data Integrity</h2>

In [25]:
duplicates_count = df.duplicated().sum()
print(f"Number of duplicate row: {duplicates_count}")

Number of duplicate row: 24

In [26]:
duplicate_df = df[df.duplicated()]
duplicate_df

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
98,Female,21.0,1.52,42.0,no,no,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
106,Female,25.0,1.57,55.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
174,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
179,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
184,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
209,Female,22.0,1.69,65.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
309,Female,16.0,1.66,58.0,no,no,2.0,1.0,Sometimes,no,1.0,no,0.0,1.0,no,Walking,Normal_Weight
460,Female,18.0,1.62,55.0,yes,yes,2.0,3.0,Frequently,no,1.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
467,Male,22.0,1.74,75.0,yes,yes,3.0,3.0,Frequently,no,1.0,no,1.0,0.0,no,Automobile,Normal_Weight
496,Male,18.0,1.72,53.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Insufficient_Weight
527,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
659,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
663,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
763,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
764,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
824,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
830,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
831,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
832,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
833,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
834,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
921,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
922,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
923,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

Because the main purpose of this dataset is to train a classification model, the duplicated rows do not provide any additional information and may introduce bias into the model. Therefore, we decided to remove these duplicated records, keeping only one instance of each.

In [27]:
print("Shape before:", df.shape)

df.drop_duplicates(inplace=True)

print("Shape after:", df.shape)

Shape before: (2111, 17)
Shape after: (2087, 17)

In [28]:
empty_rows = df.isnull().all(axis=1).sum()
print(f"Number of empty row: {empty_rows}")

Number of empty row: 0

<h2 id="i_3" style="font-weight: bold"> 3. Column Inventory</h2>

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2087 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2087 non-null   object
 1   Age                             2087 non-null   float64
 2   Height                          2087 non-null   float64
 3   Weight                          2087 non-null   float64
 4   family_history_with_overweight  2087 non-null   object
 5   FAVC                            2087 non-null   object
 6   FCVC                            2087 non-null   float64
 7   NCP                             2087 non-null   float64
 8   CAEC                            2087 non-null   object
 9   SMOKE                           2087 non-null   object
 10  CH2O                            2087 non-null   float64
 11  SCC                             2087 non-null   object
 12  FAF                             2087 non-null   float64
 13  TUE                             2087 non-null   float64
 14  CALC                            2087 non-null   object
 15  MTRANS                          2087 non-null   object
 16  NObeyesdad                      2087 non-null   object
dtypes: float64(8), object(9)
memory usage: 293.5+ KB

| **Feature** |**Description** |
| --- | --- |
| `Gender` | The user's gender |
| `Age` | The user's age |
| `Height` | The user's height |
| `Weight` | The user's weight |
| `family_history_with_overweight` | Indicates whether the user has a family history of being overweight |
| `FAVC` | Indicates whether the user frequently consumes high-calorie food |
| `FCVC` | Indicates whether the user regularly consumes vegetables |
| `NCP` | The number of main meals the user consumes per day |
| `CAEC` | The user's eating behavior between meals (snacking habits) |
| `SMOKE` | Indicates whether the user smokes |
| `CH20` | The amount of water the user consumes daily |
| `SCC` | Indicates whether the user monitors their daily caloric intake |
| `FAF` | The frequency of the user's physical activity |
| `TUE` | The amount of time the user spends using technological devices daily |
| `CALC` | The frequency of the user's alcohol consumption |
| `MTRANS` | The primary mode of transportation the user uses |
| `NObesity` | Obesity level classification based on BMI: Underweight < 18.5; Normal = 18.5–24.9; Overweight = 25.0–29.9; Obesity I = 30.0–34.9; Obesity II = 35.0–39.9; Obesity III ≥ 40.0. |

In [33]:
df.describe(include='all')

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
count,2087,2087.000000,2087.000000,2087.000000,2087,2087,2087.000000,2087.000000,2087,2087,2087.000000,2087,2087.000000,2087.000000,2087,2087,2087
unique,2,NaN,NaN,NaN,2,2,NaN,NaN,4,2,NaN,2,NaN,NaN,4,5,7
top,Male,NaN,NaN,NaN,yes,yes,NaN,NaN,Sometimes,no,NaN,no,NaN,NaN,Sometimes,Public_Transportation,Obesity_Type_I
freq,1052,NaN,NaN,NaN,1722,1844,NaN,NaN,1761,2043,NaN,1991,NaN,NaN,1380,1558,351
mean,NaN,24.353090,1.702674,86.858730,NaN,NaN,2.421466,2.701179,NaN,NaN,2.004749,NaN,1.012812,0.663035,NaN,NaN,NaN
std,NaN,6.368801,0.093186,26.190847,NaN,NaN,0.534737,0.764614,NaN,NaN,0.608284,NaN,0.853475,0.608153,NaN,NaN,NaN
min,NaN,14.000000,1.450000,39.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,1.000000,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,NaN,19.915937,1.630178,66.000000,NaN,NaN,2.000000,2.697467,NaN,NaN,1.590922,NaN,0.124505,0.000000,NaN,NaN,NaN
50%,NaN,22.847618,1.701584,83.101100,NaN,NaN,2.396265,3.000000,NaN,NaN,2.000000,NaN,1.000000,0.630866,NaN,NaN,NaN
75%,NaN,26.000000,1.769491,108.015907,NaN,NaN,3.000000,3.000000,NaN,NaN,2.466193,NaN,1.678102,1.000000,NaN,NaN,NaN
max,NaN,61.000000,1.980000,173.000000,NaN,NaN,3.000000,4.000000,NaN,NaN,3.000000,NaN,3.000000,2.000000,NaN,NaN,NaN

From the table above, we can observe that several categorical columns are highly imbalanced. For example:

* family_history_with_overweight, FAVC, SMOKE, SCC: Each of these columns has one dominant category with a very high frequency, indicating the dataset is skewed toward a specific behavior (e.g., most participants report not smoking or having a family history of overweight).

* MTRANS and CALC also show strong dominance of one value, meaning only a small portion of the dataset represents other categories.

Such imbalance is important because:

* The model may become biased towards the majority classes.

* Minority categories may be underrepresented, making classification harder for those groups.

* Some features may not contribute useful variance if most values are identical or concentrated in one category.

Therefore, these imbalanced columns should be examined carefully during preprocessing. We may need techniques such as resampling, class weighting, or feature transformation to reduce bias before training the model.

**Relevance of Columns for Analysis**

All columns in the dataset are directly related to factors influencing obesity, such as eating habits, physical activity, lifestyle, and basic physical measurements. Therefore, all attributes are relevant to the classification task and can serve as predictive features for the model.

**Should Any Columns Be Dropped?**

At this stage, no column needs to be removed. The dataset does not contain redundant identifiers, constant values, or features unrelated to obesity prediction. Each column contributes meaningful information, thus they should all be retained for further analysis and model training.

<h2 id="i_4" style="font-weight: bold">4. Data Types</h2>

In [36]:
df.dtypes

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

**Age:**

* Age is naturally an integer value (people’s ages are counted in whole years).

* Converting from float to int avoids unnecessary decimal points and makes the data more interpretable.

**Ordinal numeric features (FCVC, NCP, CH2O, FAF, TUE):**

* These columns represent discrete categories or frequency levels (e.g., 1 = low, 2 = medium, 3 = high).

* Using int instead of float better reflects their ordinal nature.

* Makes the data more readable and compatible with algorithms that expect discrete numeric input.

**Clarity and consistency:**

* Removing decimals in discrete/ordinal columns prevents misleading interpretation.

* Ensures all categorical-like numeric columns are clearly distinguished from continuous numeric columns (Height, Weight).

In [37]:
cols_to_int = ["Age", "FCVC", "NCP", "CH2O", "FAF", "TUE"]
df[cols_to_int] = df[cols_to_int].astype(int)

In [38]:
df.dtypes

Gender                             object
Age                                 int64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                                int64
NCP                                 int64
CAEC                               object
SMOKE                              object
CH2O                                int64
SCC                                object
FAF                                 int64
TUE                                 int64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

<h1 id="ii" style="font-weight: bold">II. Numerical Columns Analysis</h1>

<h1 id="iii" style="font-weight: bold">III. Categorical Columns Analysis</h1>

<h1 id="iv" style="font-weight: bold">IV. Relationships & Correlations</h1>

<h1 id="v" style="font-weight: bold">V. Initial Observations & Insights</h1>